.task-form {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h3 {
  color: #333;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}
.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-transition {
  transition: all 0.3s ease; /* You can adjust the duration as needed */
}

.form-transition {
  transition: all 0.3s ease; /* You can adjust the duration as needed */
}
/* Adjust the styles for individual task cards based on your preferences */
.task-card {
  background-color: #D9D9D9;
  
  
  padding: 10px;
  margin: 10px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.close-icon {
  position: absolute;
  top: 0px; 
  right: 0px; 
  cursor: pointer;
  margin: 0;
  color: #f3dfdf;
  background-color: red;
  font-size: 20px;
  z-index: 2;
}

.start-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #4caf50;
  text-align: center;
  margin-top: 10px;
}

/* CSS for the button and form transition */
.task-form1 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.button-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1.5rem;
}

.button-container button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease-in-out;
}

/* CSS for the button and form when open */
.task-form1.open {
  max-height: 500px; /* Adjust the desired height */
  opacity: 1;
}

.button-container.open {
  max-height: 100px; /* Adjust the desired height */
}
